name: Build 

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [14.x]
    steps:
    - uses: actions/checkout@v3
    - name: build emulators-ui
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm install -g yarn
    - run: yarn
    - run: yarn run eslint . --ext ts,tsx --max-warnings 0
    - run: yarn run gulp
    - name: upload
      uses: actions/upload-artifact@v3.0.0
      with:
        name: 'dist'
        path: 'dist'